Le tuple est :

Ordonné
non modifiable (immuable)
autorise les doublons
Le tuple peut contenir :

int (entier)
float (nombre à virgule)
bool (booléen)
liste (liste)
dict (dictionnaire)
tuple (tuple)
ensemble (ensemble)
complexe (nombre complexe)
!!!Cependant, il est important de noter que la conversion de ces types de données en tuples peut entraîner une perte d'information ou de précision, en particulier pour les nombres à virgule flottante et les nombres complexes. De plus, la conversion inverse de tuples en types de données peut également entraîner des erreurs si le tuple n'est pas correctement formaté ou s'il contient des données incorrectes.

# Bases

In [1]:
# Création d'un tuple avec un constructeur de tuple
thistuple = tuple(("apple", "banana", "cherry")) # notez les doubles parenthèses
print(thistuple) # affiche : ('apple', 'banana', 'cherry')

('apple', 'banana', 'cherry')

In [2]:
# Afficher le type d'un tuple
mytuple = ("apple", "banana", "cherry")
print(type(mytuple)) # affiche : <class 'tuple'>

<class 'tuple'>

In [3]:
# Afficher tout le tuple
mytuple = ("apple", "banana", "cherry")
print(mytuple) # affiche : ('apple', 'banana', 'cherry')

('apple', 'banana', 'cherry')

In [4]:
# Boucle pour parcourir tous les éléments du tuple
thistuple = ("apple", "banana", "cherry")
for elt in thistuple: # Boucle for qui parcourt tous les éléments du tuple
    print(elt) # imprime tous les éléments du tuple

apple
banana
cherry

In [5]:
# Imprimer tous les éléments, en utilisant une boucle while pour parcourir tous les numéros d'index i
thistuple = ("apple", "banana", "cherry")
ind = 0 # initialisation d'un compteur pour éviter une boucle infinie avec while
while ind < len(thistuple): # boucle while qui parcourt les éléments des index en dessous du nombre total d'éléments
    print(thistuple[ind]) # imprime l'élément de l'index
    ind = ind + 1 # le compteur avance d'un index après chaque boucle

apple
banana
cherry

In [6]:
# Imprimer l'élément d'un index donné
x = ("mintcream", "burlywood", "salmon")
print(x[0]) # imprime l'élément à l'index 0

mintcream

In [7]:
# Imprimer les éléments des index aux conditions fixées
# Boucle while qui parcourt tous les index pour imprimer tous les éléments
thistuple = ("apple", "banana", "cherry")
ind = 0 # initialisation d'un compteur pour éviter une boucle infinie avec while
while ind < 2: # boucle while qui parcourt les éléments des index en dessous du nombre total d'éléments
    print(thistuple[ind]) # imprime l'élément de l'index
    ind = ind + 1 # le compteur avance d'un index après chaque boucle

apple
banana

In [8]:
# Imprimer tous les éléments de la liste avec une boucle for qui parcourt tous les éléments du tuple
thistuple = ("apple", "banana", "cherry")
for ind in range(len(thistuple)): # Boucle qui parcourt la totalité des éléments de tous les index notés dans range
    print(thistuple[ind]) # imprime tous les éléments de la liste parcourue grâce à la boucle

apple
banana
cherry

In [9]:
# Imprimer tous les éléments de la liste avec une boucle for qui parcourt tous les éléments du tuple
thistuple = ("apple", "banana", "cherry")
for elt in thistuple: # Boucle for qui parcourt tous les éléments du tuple
    print(elt) # imprime tous les éléments du tuple

apple
banana
cherry

In [10]:
# Imprimer un élément à un index donné
# !!! PREMIER INDEX = 0 PAS 1 !!!
mytuple = ("apple", "banana", "cherry")
print(mytuple[1]) # imprime l'élément d'index

banana

# BASES SUR LES TUPLES CONTENANTS PLUSIEURS TYPES

In [12]:
# Création d'un tuple contenant différents types d'éléments
my_tuple = (1, 2, "three", "four", [5, 6], [7, 8, 9], (10, 11), (12, 13, 14), {15, 16}, {17, 18, 19}, {"key1": 20, "key2": 21}, {"key3": 22, "key4": 23, "key5": 24})

# Accès à un élément d'un chiffre
print(my_tuple[0])  # 1

# Accès à un élément d'une chaîne de caractères
print(my_tuple[2])  # three

# Accès à un élément d'une liste
print(my_tuple[4][1])  # 6

# Accès à un élément d'un tuple
print(my_tuple[6][0])  # 10

# Accès à un élément d'un ensemble
print(list(my_tuple[8])[0])  # 16

# Accès à un élément d'un dictionnaire
print(my_tuple[10]["key2"])  # 21

1
three
6
10
16
21

In [13]:
# Création du tuple avec différents types d'éléments
my_tuple = (1, 2, "three", "four", [5, 6], [7, 8, 9], (10, 11), (12, 13, 14), {15, 16}, {17, 18, 19}, {"key1": 20, "key2": 21}, {"key3": 22, "key4": 23, "key5": 24})

# Parcours de chaque élément du tuple et affichage de son type
for element in my_tuple:
    print(type(element))
# Résultat attendu :# <class 'int'> <class 'int'> <class 'str'> <class 'str'> <class 'list'> <class 'list'> <class 'tuple'> <class 'tuple'> <class 'set'>
# <class 'set'> <class 'dict'> <class 'dict'>

<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'list'>
<class 'list'>
<class 'tuple'>
<class 'tuple'>
<class 'set'>
<class 'set'>
<class 'dict'>
<class 'dict'>

In [14]:
# Création du tuple avec différents types d'éléments
my_tuple = (1, 2, "three", "four", [5, 6], [7, 8, 9], (10, 11), (12, 13, 14), {15, 16}, {17, 18, 19}, {"key1": 20, "key2": 21}, {"key3": 22, "key4": 23, "key5": 24})

# Parcours de chaque élément du tuple
for element in my_tuple:
    # Si l'élément est un tuple
    if isinstance(element, tuple):
        # Parcours de chaque élément du tuple
        for item in element:
            # Affichage du type de chaque élément du tuple
            print(type(item))
    # Si l'élément est une liste, un set ou un dictionnaire
    elif isinstance(element, (list, set, dict)):
        # Parcours de chaque élément de la liste, du set ou du dictionnaire
        for item in element:
            # Affichage du type de chaque élément de la liste, du set ou du dictionnaire
            print(type(item))
    # Si l'élément est un élément simple
    else:
        # Affichage du type de l'élément
        print(type(element))
#imprime <class 'int'> <class 'int'> <class 'str'> <class 'str'> <class 'int'> <class 'int'> <class 'int'> <class 'int'> <class 'int'> <class 'int'>
#<class 'int'> <class 'int'> <class 'int'> <class 'int'> <class 'int'> <class 'int'> <class 'int'> <class 'int'> <class 'int'> <class 'str'>
#<class 'str'> <class 'str'> <class 'str'> <class 'str'>

<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

# SLICING

In [15]:
# Création d'un tuple avec des éléments de différents types
my_tuple = (1, 2, 3, "hello", "world", [4, 5, 6], (7, 8, 9), {"name": "Alice", "age": 25}, {10, 11, 12})

# Affichage du tuple
print("Tuple original :", my_tuple)

# Slicing simple (récupère les éléments de l'index 2 jusqu'à la fin)
print("\nSlicing simple :", my_tuple[2:])   # affiche (3, "hello", "world", [4, 5, 6], (7, 8, 9), {"name": "Alice", "age": 25}, {10, 11, 12})

# Slicing avec des indices négatifs (récupère les 3 derniers éléments)
print("\nSlicing avec des indices négatifs :", my_tuple[-3:])   # affiche ((7, 8, 9), {"name": "Alice", "age": 25}, {10, 11, 12})

# Slicing avec un pas de 2 (récupère un élément sur 2)
print("\nSlicing avec un pas de 2 :", my_tuple[::2])   # affiche (1, 3, [4, 5, 6], {"name": "Alice", "age": 25},)

# Slicing avec des indices négatifs et un pas de -1 (renverse le tuple)
print("\nSlicing avec des indices négatifs et un pas de -1 :", my_tuple[::-1])   # affiche ({10, 11, 12}, {"name": "Alice", "age": 25}, (7, 8, 9), [4, 5, 6], "world", "hello", 3, 2, 1)

# Slicing avec des indices négatifs et un pas de -2 (renverse le tuple et récupère un élément sur 2)
print("\nSlicing avec des indices négatifs et un pas de -2 :", my_tuple[::-2])   # affiche ({10, 11, 12}, (7, 8, 9), "world", 2, 1)

# Slicing avec des indices de début et de fin (récupère les éléments de l'index 2 à l'index 6)
print("\nSlicing avec des indices de début et de fin :", my_tuple[2:7])   # affiche (3, "hello", "world", [4, 5, 6], (7, 8, 9))

# Slicing avec des indices de début et de fin et un pas de 2 (récupère un élément sur 2, de l'index 1 à l'index 6)
print("\nSlicing avec des indices de début et de fin et un pas de 2 :", my_tuple[1:7:2])   # affiche (2, "hello", (7, 8, 9))

Tuple original : (1, 2, 3, 'hello', 'world', [4, 5, 6], (7, 8, 9), {'name': 'Alice', 'age': 25}, {10, 11, 12})

Slicing simple : (3, 'hello', 'world', [4, 5, 6], (7, 8, 9), {'name': 'Alice', 'age': 25}, {10, 11, 12})

Slicing avec des indices négatifs : ((7, 8, 9), {'name': 'Alice', 'age': 25}, {10, 11, 12})

Slicing avec un pas de 2 : (1, 3, 'world', (7, 8, 9), {10, 11, 12})

Slicing avec des indices négatifs et un pas de -1 : ({10, 11, 12}, {'name': 'Alice', 'age': 25}, (7, 8, 9), [4, 5, 6], 'world', 'hello', 3, 2, 1)

Slicing avec des indices négatifs et un pas de -2 : ({10, 11, 12}, (7, 8, 9), 'world', 3, 1)

Slicing avec des indices de début et de fin : (3, 'hello', 'world', [4, 5, 6], (7, 8, 9))

Slicing avec des indices de début et de fin et un pas de 2 : (2, 'hello', [4, 5, 6])

# COMMENT MODIFIER UN TUPPLE NON MODIFIABLE ET COLLER 2 TUPPLE ENSEMBLE

In [16]:
### AJOUTER OU SUPRIMER DES  DES ELEMENTS A UN TUPPLE EN CREANT UN NOUVEAU TUPPLE 

# Création d'un tuple
my_tuple = (1, 2, 3, 4, 5)

# Ajout d'un élément à la fin du tuple en créant un nouveau tuple
new_tuple = my_tuple + (6,)

# Affichage du nouveau tuple avec l'élément ajouté
print(new_tuple)
# Le résultat affiché sera: (1, 2, 3, 4, 5, 6)

# Suppression du premier élément du tuple en créant un nouveau tuple
new_tuple = my_tuple[1:]

# Affichage du nouveau tuple avec le premier élément supprimé
print(new_tuple)
# Le résultat affiché sera: (2, 3, 4, 5)

(1, 2, 3, 4, 5, 6)
(2, 3, 4, 5)

In [17]:
### AJOUTER OU SUPRIMER DES  DES ELEMENTS A UN TUPPLE EN CREANT LE TRANSFORMANT EN LISTE

# Création d'un tuple
my_tuple = (1, 2, 3, 4, 5)

# Conversion du tuple en liste
my_list = list(my_tuple)

# Ajout d'un élément à la fin de la liste
my_list.append(6)

# Conversion de la liste en tuple
new_tuple = tuple(my_list)

# Affichage du nouveau tuple avec l'élément ajouté
print(new_tuple)
# Le résultat affiché sera: (1, 2, 3, 4, 5, 6)

# Suppression du premier élément du tuple en créant un nouveau tuple
new_tuple = tuple(my_tuple[1:])

# Affichage du nouveau tuple avec le premier élément supprimé
print(new_tuple)
# Le résultat affiché sera: (2, 3, 4, 5)

(1, 2, 3, 4, 5, 6)
(2, 3, 4, 5)

In [18]:
#ASSOCIATION DE 2 TUPLES PAR CONCATENATION

# Création de deux tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Concaténation des deux tuples en utilisant l'opérateur "+"
result_tuple = tuple1 + tuple2

# Affichage des tuples originaux et du tuple résultant
print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Résultat de la concaténation:", result_tuple)

Tuple 1: (1, 2, 3)
Tuple 2: (4, 5, 6)
Résultat de la concaténation: (1, 2, 3, 4, 5, 6)

In [19]:
#ASSOCIATION DE 2 TUPLES EN LE TRANSFORMANT EN LISTE 
# Création de deux tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Transformation des tuples en listes
list1 = list(tuple1)
list2 = list(tuple2)

# Concaténation des deux listes en utilisant la méthode "extend"
list1.extend(list2)

# Transformation de la liste résultante en tuple
result_tuple = tuple(list1)

# Affichage des tuples originaux et du tuple résultant
print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Résultat de la concaténation:", result_tuple)

Tuple 1: (1, 2, 3)
Tuple 2: (4, 5, 6)
Résultat de la concaténation: (1, 2, 3, 4, 5, 6)

# METHODES

In [20]:
# Création d'un tuple
my_tuple = (1, 3, 5, 2, 4)

# Utilisation de la méthode count() pour compter le nombre d'occurrences d'un élément
count_3 = my_tuple.count(3)
print("Nombre d'occurrences de 3 :", count_3)  # Affiche "Nombre d'occurrences de 3 : 3"

# Utilisation de la méthode index() pour trouver l'index de la première occurrence d'un élément
index_2 = my_tuple.index(2)
print("Index de la première occurrence de 2 :", index_2)  # Affiche "Index de la première occurrence de 2 : 1"

# Utilisation de la méthode len()
print("Longueur du tuple :", len(my_tuple)) # Résultat : 5

# Utilisation de la méthode max()
print("Valeur maximale du tuple :", max(my_tuple)) # Résultat : 5

# Utilisation de la méthode min()
print("Valeur minimale du tuple :", min(my_tuple)) # Résultat : 1

# Utilisation de la méthode sorted()
sorted_tuple = sorted(my_tuple)
print("Tuple trié par ordre croissant :", sorted_tuple) # Résultat : (1, 2, 3, 4, 5)> DEVIENT UNE LISTE

# Utilisation de la méthode reversed()
reversed_tuple = tuple(reversed(my_tuple))
print("Tuple renversé :", reversed_tuple) # Résultat : (4, 2, 5, 3, 1)> DEVIENT UNE LISTE

# Création d'un tuple
my_tuple = (1, 2, 2, 3, 3, 3, 4, 5)

Nombre d'occurrences de 3 : 1
Index de la première occurrence de 2 : 3
Longueur du tuple : 5
Valeur maximale du tuple : 5
Valeur minimale du tuple : 1
Tuple trié par ordre croissant : [1, 2, 3, 4, 5]
Tuple renversé : (4, 2, 5, 3, 1)

# BOUCLE

In [21]:
# Exemple de boucle for qui parcourt un tuple et affiche chaque élément avec son index
my_tuple = ("apple", "banana", "cherry")
for i, item in enumerate(my_tuple):
    print("Index:", i, " - Item:", item)
    
# La fonction enumerate() est utilisée pour obtenir à la fois l'élément et son index dans la boucle for
# La boucle parcourt chaque élément du tuple et les affiche avec leur index
# Le print affiche chaque index et élément du tuple en utilisant la variable i pour l'index et la variable item pour l'élément
# Le résultat affiché sera : 
# Index: 0  - Item: apple
# Index: 1  - Item: banana
# Index: 2  - Item: cherry


# Exemple de boucle while qui utilise un compteur pour afficher les éléments d'un tuple
my_tuple = ("apple", "banana", "cherry")
count = 0
while count < len(my_tuple):
    print(my_tuple[count])
    count += 1
    
# Le compteur count est initialisé à 0 avant la boucle while
# La boucle while parcourt chaque élément du tuple tant que le compteur count est inférieur à la longueur du tuple
# Le print affiche l'élément du tuple à l'indice correspondant au compteur count
# Le compteur count est incrémenté de 1 à chaque tour de boucle pour passer à l'élément suivant
# Le résultat affiché sera :
# apple
# banana
# cherry


# Exemple de boucle for qui parcourt un tuple et affiche chaque élément qui contient une lettre spécifique
my_tuple = ("apple", "banana", "cherry")
for item in my_tuple:
    if "a" in item:
        print(item)
        
# La boucle for parcourt chaque élément du tuple
# La condition if vérifie si la lettre "a" est présente dans chaque élément du tuple
# Si la lettre "a" est présente, l'élément est affiché avec le print
# Le résultat affiché sera :
# apple
# banana


# Exemple de boucle while qui utilise une condition pour parcourir un tuple jusqu'à un certain index
my_tuple = ("apple", "banana", "cherry")
index = 0
while index < 2:
    print(my_tuple[index])
    index += 1
    
# Le compteur index est initialisé à 0 avant la boucle while
# La boucle while parcourt chaque élément du tuple tant que l'index est inférieur à 2
# Le print affiche l'élément du tuple à l'index correspondant à l'index actuel de la boucle while
# L'index est incrémenté de 1 à chaque tour de boucle pour passer à l'élément suivant
# La boucle while s'arrête après l'affichage de l'élément à l'index 1 inclusivement

Index: 0  - Item: apple
Index: 1  - Item: banana
Index: 2  - Item: cherry
apple
banana
cherry
apple
banana
apple
banana

# DEBALLER UN TUPLE

In [22]:
# Définition d'un tuple avec 3 éléments
my_tuple = ("apple", "banana", "cherry")

# Déballage avec affectation multiple
a, b, c = my_tuple
print(a)  # Affiche "apple"
print(b)  # Affiche "banana"
print(c)  # Affiche "cherry"

# Déballage avec une boucle for
for item in my_tuple:
    print(item)  # Affiche chaque élément du tuple sur une ligne séparée
# Résultat attendu :
# apple
# banana
# cherry

# Déballage avec une boucle for et la méthode enumerate()
for i, item in enumerate(my_tuple):
    print(i, item)  # Affiche l'indice et la valeur de chaque élément sur une ligne séparée
# Résultat attendu :
# 0 apple
# 1 banana
# 2 cherry

# Déballage avec une affectation multiple et un astérisque
a, *b = my_tuple
print(a)  # Affiche "apple"
print(b)  # Affiche ["banana", "cherry"]

# Déballage avec une affectation multiple et deux astérisques
a, *b, c = my_tuple
print(a)  # Affiche "apple"
print(b)  # Affiche ["banana"]
print(c)  # Affiche "cherry"

# Déballage avec une affectation multiple et deux astérisques avec un tuple de taille différente
my_tuple2 = ("apple", "banana", "cherry", "date")
a, *b, c = my_tuple2
print(a)  # Affiche "apple"
print(b)  # Affiche ["banana", "cherry"]
print(c)  # Affiche "date"

apple
banana
cherry
apple
banana
cherry
0 apple
1 banana
2 cherry
apple
['banana', 'cherry']
apple
['banana']
cherry
apple
['banana', 'cherry']
date