# Pandas

Pandas sert à manipuler des tableaux qu'on appelle DataFrame.
Limite les dimensions à 2.

In [20]:
import pandas as pd

## Création DF

In [11]:
pd.DataFrame([1, 2, 42])

    0
0   1
1   2
2  42

In [12]:
pd.DataFrame([1, 2, 42], columns = ["number"])

   number
0       1
1       2
2      42

In [13]:
# Créer un DF "fruit"
fruit = [[30, 21]]
df = pd.DataFrame(fruit, columns = ["apple", "bananas"])
df

   apple  bananas
0     30       21

## Index

In [14]:
data = {"2017 sales" : [35, 21], "2018 sales" : [41, 34]}
x = pd.DataFrame.from_dict(data, orient = "index", columns = ["apples", "bananas"])
x

            apples  bananas
2017 sales      35       21
2018 sales      41       34

.reset_index() : réinitialise les index d'un df

## Manipulation

### Delete / drop

 the first row : df.drop("colonne")
 the first column : df.drop(x.columns[0], axis = 1)
 une colonne : df = df.drop(["colonne"], axis = 1)

### Importer un fichier + paramètres

pd.read_(par ex : csv)("lien.(par ex : csv)", sep = ",")

header et names ----- pour les en-têtes et noms des colonnes
index_col pour ------ pour le nom des en-têtes de lignes

Renommer colonne dès importation : pd.read_csv("lien.csv", sep = ",", names = ["nom_colonne1", "nom_colonne2"...])
Renommer colonne après importation : df.rename(columns = {"nom_origine" : "nv_nom"})

créer un df avec un lien
link = "------"
df = pd.read_csv(link)

Créer un DF avec + liens de téléchargement

dftotal = pd.DataFrame()
for year in range(2019, 2023):
    year = str(year)
    lin_main = "lien"+year+".csv"
    df_main = pd.read_csv(link_main)
    dftotal = pd.concat([df_total, df_main])

## Afficher

#### Des lignes

5 dernières ------ df.tail() --- on peut mettre entre () le nb de lignes souhaitées
5 premières ------ df.head() --- idem
3 premières ------ df.iloc[:3]
x aléatoire : df.sample(x)  : x nb de lignes aléatoires souhaitées
Distribution visuelle de la valeur des colonnes : df.sample(x).style.bar(subset = ["colonne1", "colonne2"])

#### Types et valeurs de chq colonnes

df.info()
df.values : affiche ttes les valeurs du df sous forme d'un array
df.["nom_colonne"] : affiche ttes les valeurs d'une colonne
df["colonne"].unique() : affiche valeurs uniques ds colonne
df["colonne"].nunique() : idem
df.astype({"colonne" : "int"}) : modifie type d'une colonne

#### Séléctionner 1ligne ou une colonne : SLICING

Soit : df.iloc[0, -2:] ----- on sélectionne la 1ère ligne et les 2 dernières colonnes
Soit : df.loc[:, "Nom_colonne"] ----- on affiche ttes les lignes de la colonne "nom_colonne"
dernière ligne :  df[-1:]
dernière colonne de la dernière ligne : df.iloc[-1, -1]
Récupérer noms des colonnes d'un df : df.columns[:] ------ KKN variables explicatives X = df.loc[:columns]
Crée un slice du dataset avec uniquement les colonnes numériques : X = df.select_dtypes(include='number')

### Index

df = df.set_index("nom_colonne") ---- met en index la première colonne
df.insert(5, 'nom_nvlle_colonne', df["nom_colonne"] / df["nom_colonne2"]) --- le 5 correspond à l'indice à lequel insérer la colonne

## Maths

Médiane : df["colonne"].median()
Moyenne : df["star_rating"].mean()
Matrice corrélation : df.corr()
Ts les calculs statistiques : df.describe()
Distribution des données en % : df["col"].values_counts(True) * 100

## Valeurs nulles/manquantes

Supp valeurs nulles d'une colonne : df = df.dropna(subset = ["colonne"])
Combien de valeurs manquantes d'une colonne : df["colonne"].isna().sum()
Remplir valeurs manquantes d'une colonne : df["colonne"].fillna("text", inplace = True)
Ne faire apparaître que les lignes d'une colonne où il y a des valeurs nulles : df[df["colonne"].isna()]
Trouver valeurs manquantes parmis ttes les colonnes : df[df.isna().any(axis = 1)]
Supp valeurs en doubles : df = df.drop_duplicates()

## EXEMPLES

Quel pays a un beerserving > 200 ?
df[df["nom_colonne"] > 200]

Trier de manière asc selon "star_rating" ?
df.sort_values(by = ["star_rating"])

Genre de film le mieux noté ?
df.loc[df["star_rating"] > df["star_rating"].max()].iloc[-1, -3]

Pourcentage de film ds chq genre ?
p = df.groupby(["genre"]).count().loc[:, "title"]
a = p/p.sum()* 100
ou
df.groupby(["genre"]["title"].count().sort_values(ascending = False) / df["title"].count().sum() * 100


Afficher ttes les lignes avec des films appartenant au genre le moins bien noté (basé sur la moy des films de ce genre)
m = df.groupby("genre)["star_rating"].mean().idx min()
m2 = df.loc[df["genre"] == m]

Films qui durent +200min et dt le genre C la lettre h ou H
m = df.query("genre.str.contains("h | H"] & (duration > 200).loc[:, "title"])
ou 
m = df.loc[(df["duration"] > 200) & (df["genre"].astype(str).str.contains("h | H"))]

Quel trio d'acteurs est le + mentionné
df["actors_list"].mode()

Trier df sur colonne de manière croissante
df = df.sort_values(by = "colonne", ascending = False (ou True))

## NB

inplace = True ---- stock les modifs ds df
axis = 0 --- ligne
axis = 1 --- colonne
aggfunc et groupby : identiques

# Numpy

NUmpy est une bibliothèque destinée à manipuler des matrices ou tableaux multidimensionnels ainsi que des fct mathématiques sur ces tableaux.

In [1]:
import numpy as np

## Convertir en array (matrice)

In [ ]:
# création
data = [[0,1,2], [10,11,12], [20,21,22], [30,31,32]]
data_np = np.array(data)
data_np

# modification
# ex : 1 ligne et 32 colonnes
array_2 = np.reshape(data_np, (1,32))

## Sélectionner éléments ds tableaux

In [17]:
# élement d'une rangée
print(data_np[1,0 : 2])

# élément d'une colonne
print(data_np[: , 2])

# on sélectionne la ligne à l'indice 0 puis on sélectionne les données des colonnes allant de l'indice  à inclus
print(data_np[0, 3:5])

# lignes aux indices allant de 4 jusqu'à la fin. Puis les colonnes allant de 4 jusqu'à la fin
print(data_np[4: , 4:])

# ttes les lignes puis les colonnes à l'indice 2
print(data_np[:, 2])

# les lignes à partir de l'indice 2, puis une ligne sur 2. Puis on sélectionne les colonnes à partir du début puis 1 colonne sur 2
print(data_np[2::2, ::2])

# si deux matrices
# trouver valeur aux index 1 et colonnes 3 et4
data_np[:,1 , 2:5]  # se lit matrice, ligne, colonne

[10 11]
[ 2 12 22 32]
[]
[]
[ 2 12 22 32]
[[20 22]]

IndexError: too many indices for array: array is 2-dimensional, but 3 were indexed

### Maths sur array

In [22]:
# somme totale
liste = [[12,5], [8,32], [25,6], [7,14]]
data = np.array(liste)
print(data)
print(np.sum(data))

# somme d'une colonne
print(np.sum(data, axis = 0))

# somme d'une rangée
print(np.sum(data, axis =1))

[[12  5]
 [ 8 32]
 [25  6]
 [ 7 14]]
109
[52 57]
[17 40 31 21]

## taille

In [15]:
# taille matrice
print(data_np.shape)

# nb axes
print(data_np.ndim)

(4, 3)
2

# Fonction Apply / Lambda

## Def

La méthode est l’une des méthodes les plus courantes de prétraitement des données. Il simplifie l’application d’une fonction sur chaque élément d’une série pandas et sur chaque ligne ou colonne d’un DataFrame pandas.

## EXEMPLES

def auteur(authors):
    return len(authors.split("/"))
df["nvlle_colonne"] = df["authors"].apply(auteur)

avec lambda : df["nvlle_colonne"] = df["authors"]apply(lambda x : len.split("/")))

def x(books):
    text = books["a"]
    reviews = books["c"]
    percentage = (text/reviews) * 100
    return percentage
books["nvlle_colonne"] = books.apply(x, axis = 1)

avec lambda : df["nvlle_colonne"] = df.apply(lambda x : (x["colonne"] / x["colonne"]) * 100, axis = 1)

def square(nb):
    return nb**2
avec lambda en version stockée : a = lambda x : x**2     a(3)
avec lambda en version non stockée : (lambda x : x**2)(3)

Somme des nb pairs d'une liste 
b = sum([i for i in liste if (i%2 == 0)])

Valeur absolue des nb d'une liste
c = [abs(ele) for ele in test_list]

# Fonction datetime

In [21]:
from datetime import datetime

strptime : convertit chaîne de caractère en format date 
strftime : convertit le format date en chaîne de caratère
%Y avec 4Y donne 2017 avec 2Y donne 17
%y avec 2y donne 20

In [28]:
# ex
#création d'une variable x dans laquelle je vais convertir un str en date
x = datetime.strptime("2018-01-04", "%Y-%m-%d")
print(x)
#je print le type de ma variable pour confirmer le passage en format date
print(type(x))

2018-01-04 00:00:00
<class 'datetime.datetime'>

Passer en format date avec pandas :
soit df["colonne"] = pd.to_datetime(df["colonne"])
soit df["colonne"].apply(lambda x : datetime.strptime(x, "%Y-%m-%d)

Ajouter jours, semaines, heures
datetime.now() +(ou-) timedelta(weeks = 3) (ou days ou hours)
print(datetime.now() + timedelta(weeks=7))

Mettre une colonne en mois/jour/année et l'ajouter au DF
df["month"] = df["date"].dt.month

# Merge

Fusionner deux df par colonne

Si noms colonne !=
pd.merge(df_left, df_right,
         how = "left",
         left_on = "nom_colonne_left",
         right_on = "nom_colonne_right")

si noms colonnes identiques
pd.merge(left, right, how = "left",
         on = ["key1", "key2"]

# Concat

Fusionner deux df par lignes

pd.concat([df1, df2, df3])

# Pivot table / Cross table

crosstab() ---- données non basées sur df ----- ex : liste, dictionnaires... --- as a method
pivot_table() ---- df --- as a function

## Synthaxes

df.pivot_table(values = "col1", index = "col2", aggfunc = "mean")
pd.cross_tab(df.col1, df.col2)
pd.cross_tab(columns = df.col1, index = df.col2, values = df.col3, aggfunc = "max")

## EXEMPLES

Créer mois en rangées, avg Temp et avg Sunhour en colonne
df.pivot_table(values = ["col1", "col2"], index = "col3", aggfunc = "mean")

Chart
a = df.pivot_table(...)
a.plot(kind = "bar")

Utiliser Matplotlib, seaborn...
a = df.pivot_table(...).reset_index()
Puis Matplotlib ou seaborn ...

# Explode

Lorsqu'on a une liste : [u'---', u'----'...]
df["colonne"] = df["colonne"].apply(eval)
                donne : ['---', '-----'...]
a = df.explode("colonne")
                donne liste ---

# Factoriser / get_dummies()

factoriser :
    df["nvlle_colonne"] = df["colonne"].factorize()[0]
ne créé qu'une colonne avaec autant de chiffre que de données

get_dummies()
    pd.concat([df, df["col"].str.get_dummies()], axis = 1)
créé autant de colonnes que de données

# EXEMPLES

Créer une fct qui traduit chq valeur possible ds OPINION
def translate(str):
    translation = {"bad" : "mauvais", "good" : "bien"}
    if str in translatio.keys():
        return translation[str]
    else:
        return str
df["OPINION"] = df["OPINION"].apply(translate)

Créer une fct qui regroupe + fct
def a(d,e):
    def x(i, j):
        ---
        return
    df["col"] = df["col"].apply(a)
    df["col"] = df["col"].dt.month

Quelle est la ville avec le + rapport de forme "fireball" ?
df2 = df.groupby(by = ["shape", "city"]).count().sort_values("time", ascending = False)
df2.loc["fireball"]

Quelle est la décennie où l'on a représentés le + de cas d'ovnis ?
year_count = df["time"].dt.year.value_count()

Afficher top 10 des villes où l'on voit le plus d'ovnis en excluant NY ?
a = df.groupby(by = ["city"]).count().sort_values("time", ascending = False)
a = a.reset_index()
a = a[a["city"] != "NY"].head(10)

Regrouper années par décennie (YYYY-MM-DD time) ?
df["decennie"] = (df["time].dt.year // 10) *10

Afficher un df de ces 10 villes avec les décennies où les valeurs seront le nb d'ovnis par combinaison
df_top10 = df[df["city"] == "Seatle"].groupby(["decennie", "colors_reported", "shape_reported"]).count()["time"]
df_top10 = df_top10.reset_index()
df_top10["city"] = "Seatle"
liste_villes = ["Phoenix", "Houston", "LA", ...]
for ville in liste_villes:
    df_ville = df[df["city"] == ville].groupby(["decennie", "colors_reported", "shape_reported"].count()["time"]
    df_ville = df_ville.reset_index()
    df_ville["city"] = ville
    df_top10 = pd.concat([df_top10, df_ville], ignore_index = True)
    
df_top10