# BASES

In [1]:
# Mettre des guillemets dans une chaîne
txt1 = "We are the so-called \"Vikings\" from the north."
print("txt1 :", txt1)

txt1 : We are the so-called "Vikings" from the north.

In [2]:
# Mettre une apostrophe dans une chaîne
txt2 = 'It\'s alright.'
print("txt2 :", txt2)

txt2 : It's alright.

In [3]:
# Mettre un backslash dans une chaîne
txt3 = "This will insert one \\ (backslash)."
print("txt3 :", txt3)

txt3 : This will insert one \ (backslash).

In [4]:
# Aller à la ligne dans une chaîne
txt4 = "Hello\nWorld!"
print("txt4 :", txt4)

txt4 : Hello
World!

In [5]:
# Mettre une tabulation dans une chaîne
txt5 = "Hello\tWorld!"
print("txt5 :", txt5)

txt5 : Hello	World!

In [6]:
# Supprimer un caractère dans une chaîne
txt6 = "Hello \bWorld!"
print("txt6 :", txt6)

txt6 : HelloWorld!

In [7]:
# Mettre une valeur octale dans une chaîne
txt7 = "\110\145\154\154\157"
print("txt7 :", txt7)

txt7 : Hello

In [8]:
# Mettre une valeur hexadécimale dans une chaîne
txt8 = "\x48\x65\x6c\x6c\x6f"
print("txt8 :", txt8)

txt8 : Hello

In [9]:
# Écrire à la verticale
txt9 = ""
for x in "banana":
    txt9 += x + "\n"
print("txt9 :\n" + txt9)

txt9 :
b
a
n
a
n
a

In [10]:
# fonction pour imprimer un texte x fois
def print_x_times(text, x):
    for i in range(x):
        print(text)
        
# exemple d'utilisation de la fonction
print_x_times("bonjour", 5)
print()

bonjour
bonjour
bonjour
bonjour
bonjour

In [11]:
# fonction pour donner les nombres de x à y exclu
def print_numbers_range(x, y):
    for i in range(x, y):
        print(i)
        
# exemple d'utilisation de la fonction
print_numbers_range(0, 10)
print()

0
1
2
3
4
5
6
7
8
9

In [12]:
# fonction pour donner les nombres de x à y exclu par pas de z
def print_numbers_range_step(x, y, z):
    for i in range(x, y, z):
        print(i)
        
# exemple d'utilisation de la fonction
print_numbers_range_step(0, 21, 2)
print_numbers_range_step(10, 0, -1)
print()

0
2
4
6
8
10
12
14
16
18
20
10
9
8
7
6
5
4
3
2
1

In [13]:
# fonction pour écrire chaque élément d'un data type
def print_data_type_elements(data_type):
    for i in data_type:
        print(i)
        
# exemple d'utilisation de la fonction
print_data_type_elements("Blanquette")
print()

B
l
a
n
q
u
e
t
t
e

In [14]:
# fonction pour additionner les nombres de x à y selon certaines conditions
def add_numbers_with_conditions(x, y):
    n = 0
    for i in range(x, y):
        if (i % 2 == 0 or i % 5 == 0) and i % 10 != 0:
            n += i
    return n

# exemple d'utilisation de la fonction
print(add_numbers_with_conditions(0, 1001))
print()

250000

In [15]:
# fonction pour compter les caractères d'un nombre entier
def count_digits_in_number(number):
    count = 0
    for i in str(number):
        count += 1
    return count

# exemple d'utilisation de la fonction
print(count_digits_in_number(12345))
print()

5

In [16]:
# fonction pour compter les caractères d'un string sans les espaces
def count_characters_in_string(string):
    count = 0
    for char in string:
        if char != " ":
            count += 1
    return count

# exemple d'utilisation de la fonction
print(count_characters_in_string("Taumata whakatangihanga koauau o tamatea turi pukaka piki maungah oronuku pokai whenuaki tanatahu"))
print()

85

In [17]:
# fonction pour donner la ou les positions (!=index) d'1 caractère dans une string
def find_character_positions_in_string(string, char):
    positions = []
    for i, c in enumerate(string):
        if c == char:
            positions.append(i)
    return positions

# exemple d'utilisation de la fonction
print(find_character_positions_in_string("Taumata whakatangihanga koauau o tamatea turi pukaka piki maungah oronuku pokai whenuaki tanatahu", "a"))

[1, 4, 6, 10, 12, 14, 19, 22, 26, 28, 34, 36, 39, 49, 51, 59, 63, 77, 85, 90, 92, 94]

# FORMAT

In [18]:
# Exemples d'utilisation de f-string

# Exemple 1 - simple variable
age = 25
print(f"J'ai {age} ans.")

J'ai 25 ans.

In [19]:
# Exemple 2 - expression
a = 10
b = 20
print(f"La somme de {a} et {b} est égale à {a + b}.")

La somme de 10 et 20 est égale à 30.

In [20]:
# Exemple 3 - formatage de nombres décimaux
pi = 3.141592653589793
print(f"La valeur de pi est environ égale à {pi:.2f}.")

La valeur de pi est environ égale à 3.14.

In [21]:
# Exemple 4 - formatage de chaînes de caractères
prenom = "Jean"
nom = "Dupont"
print(f"Le nom complet est {prenom.upper()} {nom.capitalize()}.")

Le nom complet est JEAN Dupont.

In [22]:
# Exemple 5 - utilisation de variables dans une boucle for
for i in range(1, 6):
    print(f"Le carré de {i} est égal à {i ** 2}.")

Le carré de 1 est égal à 1.
Le carré de 2 est égal à 4.
Le carré de 3 est égal à 9.
Le carré de 4 est égal à 16.
Le carré de 5 est égal à 25.

In [23]:
# Exemple 6 - utilisation d'une expression conditionnelle
n = 10
print(f"Il {'est' if n == 1 else 'sont'} {n} éléments dans la liste.")

Il sont 10 éléments dans la liste.

In [24]:
# Exemple 7 - utilisation de variables et d'expression conditionnelle
fruit = "banane"
quantite = 3
print(f"Il y a {'une' if quantite == 1 else quantite} {fruit}{'s' if quantite > 1 else ''} dans le panier.")

Il y a 3 bananes dans le panier.

In [25]:
# Exemple 8 - utilisation d'une liste et de la méthode join()
fruits = ["banane", "pomme", "orange"]
liste_fruits = ", ".join(fruits)
print(f"Les fruits disponibles sont : {liste_fruits}.")

Les fruits disponibles sont : banane, pomme, orange.

In [26]:
# Exemple 9 - utilisation d'un dictionnaire et d'une expression conditionnelle
personne = {"prenom": "Jean", "nom": "Dupont", "age": 25}
print(f"{personne['prenom']} {personne['nom']} a {'ans' if personne['age'] > 1 else 'an'}.")

Jean Dupont a ans.

In [27]:
# Exemple 10 - utilisation d'un set et d'une boucle for
lettres = {"a", "b", "c", "d"}
liste_lettres = ", ".join(lettres)
print(f"Les lettres disponibles sont : {liste_lettres}.")

Les lettres disponibles sont : a, b, d, c.